@import url(http://fonts.googleapis.com/css?family=Roboto);
.login p{
    color: black;
    font-size:120%;
    position:absolute;
    top:70px;
    left:70px;
}

p1{
    position:relative;
    left:0px;
    top:35px;
}
.box{
    position:absolute;
    border:1px hidden;
    padding-bottom:30px;
    padding-top:120px;
    width:320px;
    left:120px;
    bottom:220px;
    border-radius:15px;
}
.form{
    position:relative;
    left:180px;
    top:150px;
}
body{
    
    background-image:url("http://www.pulsarwallpapers.com/data/media/3/Alien%20Ink%202560X1600%20Abstract%20Background.jpg");
    }
a{
    color:darkgreen;
    text-decoration:none;
}
a:hover{
    color:blue;
    text-decoration:underline;
}

