input[type="text"]{
    display:block;
}
body{
    background-image:url("http://www.pulsarwallpapers.com/data/media/3/Alien%20Ink%202560X1600%20Abstract%20Background.jpg");
}
button{
color:red;  
    background-color:red;
    border-radius:7px;
    width:100px;
    position:absolute;
    left:220px;
    top:345px;
    background-color:black;
    font-weight:bold;
    color:red;
    border:1px solid lightblue;
    display:inline-block;
}
form{
    font-weight:bold;
    position:relative;
    left:175px;
    bottom:95px;
}
p1{
 
}
h1{
    position:relative;
    left:165px;
    bottom:100px;
}
.box{
    position: relative;
    border:1px;
    width:100px;
    padding:120px;
    top: 115px;
    left: 100px;
    border-radius:14px;
    background-color:#79ccff;
    box-shadow:5px 5px 10px #111;
    
}
a{
color:red;
}

